/Documents/NetBeansProjects/Anime/nbproject/private/
/Documents/NetBeansProjects/Anime1/nbproject/private/
/Documents/NetBeansProjects/Anime1/build/
/Documents/NetBeansProjects/Associacao/nbproject/private/
/Documents/NetBeansProjects/Associacao/build/
/Documents/NetBeansProjects/Seminario/nbproject/private/
/Documents/NetBeansProjects/Seminario/build/
/Documents/NetBeansProjects/Seminario/dist/
node_modules
/Documents/NetBeansProjects/Agenda/nbproject/private/
/Documents/NetBeansProjects/Agenda2/nbproject/private/
/Documents/NetBeansProjects/Agenda2/build/
/Documents/NetBeansProjects/Oracle/nbproject/private/
/Documents/NetBeansProjects/Oracle/build/
/Documents/NetBeansProjects/Campus/nbproject/private/
/Documents/NetBeansProjects/javaFX/nbproject/private/
/Documents/NetBeansProjects/JavaFX1/nbproject/private/
/Documents/NetBeansProjects/JavaFX1/build/
/Documents/NetBeansProjects/Taste22/nbproject/private/
/Documents/NetBeansProjects/Teste2/nbproject/private/
/Documents/NetBeansProjects/Teste2/build/
/Documents/NetBeansProjects/AventuraLili_e_Dragao/nbproject/private/
/Documents/NetBeansProjects/AventuraLili_e_Dragao/build/
/Documents/NetBeansProjects/AventuraLili/nbproject/private/
/Documents/NetBeansProjects/AventuraLili/build/
/Documents/NetBeansProjects/novoDesafio/nbproject/private/
/Documents/NetBeansProjects/novoDesafio/build/
/Documents/NetBeansProjects/Reforco/nbproject/private/
/Documents/NetBeansProjects/Exercicios _pos/nbproject/private/
/Documents/NetBeansProjects/Exercicios _pos/build/
/Documents/NetBeansProjects/Calculadora/nbproject/private/
/Documents/NetBeansProjects/Calculadora/build/
